<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

<br />
  <p>
    Owen's quotes was built by <a target="_blank" href="https://github.com/angusyang91">Angus</a> with the support of <a href="https://www.instagram.com/owenthecorgi/">Owen</a> who provided endless content and high fives.
  </p>

  <p>
    Together they plan on taking over the world, one line of code at a time.
  </p>

  <!-- Owen -->

  <div class="col-xs-12 col-sm-4" style="padding-top: 30px;">
    <%= image_tag 'angus.png', class: 'img-responsive' %>
  </div>
  
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2>Angus Yang</h2>
    <br />
    <p>
      Angus is a web developer and ruby on rails student at The FireHose Project, he's currently in sales but has a track record of being able to quickly learn and adapt to new technologies in his previous roles (Operations and Marketing). 
    </p>
    <p>
      He wants to utilize his new found skills to contribute to the developer community and work alongside some brilliant minds.
    </p>

  </div>
  <br class="clear" />
  <!-- Owen -->
  <div class="col-xs-12 col-sm-4" style="padding-top: 30px">
    <%= image_tag 'owen.jpg', class: 'img-responsive' %>
  </div>  

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2>Owen</h2>
  
  <br />
  <p>
    Owen is 3 years old, a chicken lover, and nap extraordinare.
  </p>
  </div>

</div>

<!-- to prevent footer from touching the img -->
<br class="clear" />
<br />
<br />
<br />
<br />